{{- if eq .chezmoi.os "darwin" -}}
## start ssh-agent and add ssh keys to keychain
eval $(ssh-agent)
ssh-add ~/.ssh/bitbucket-macbook-pro-2024
{{ end -}}

# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

{{if eq .chezmoi.os "darwin"}}
############
## if mac ##
############

# Hero Devs Token
[ -f ~/.herodevs/env.sh ] && source ~/.herodevs/env.sh

export CORE_PLUGINS_PATH="/Users/lsorensen/code/platform-core-plugins"

# zsh-syntax-highlighting
source /opt/homebrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# Path to your oh-my-zsh installation.
export ZSH="/Users/lsorensen/.oh-my-zsh"

export COMMIT_PREFIX="DDP-"

{{ end -}}

{{if eq .chezmoi.os "linux"}}

##############
## if linux ##
##############
# Path to your oh-my-zsh installation.
export ZSH="$HOME/.oh-my-zsh"

# zsh syntax highlighting
source /home/linuxbrew/.linuxbrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{end -}}

# If you come from bash you might have to change your $PATH.
# export PATH=$HOME/bin:/usr/local/bin:$PATH

ZSH_THEME="powerlevel10k/powerlevel10k"

# Which plugins would you like to load?
# Standard plugins can be found in ~/.oh-my-zsh/plugins/*
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(
  zsh-autosuggestions
  git
  sudo
  gulp
  aws
  brew
  npm
  nvm
  cp
  fzf
  iterm2
  jsontools
  ripgrep
  tmux
  vim-interaction
  vscode
  zsh-navigation-tools
  1password
  docker
  docker-compose
)

source $ZSH/oh-my-zsh.sh

alias zshconfig="nvim ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

alias pua="cd ~/code/platform-ui-angular"
alias pan="cd ~/code/platform-api-node"
alias ptm="cd ~/code/platform-tinymce"
alias python="python3"
alias reload="source ~/.zshrc"
alias ggf="echo 'dont do this you dummy'"
alias nodesass="nvm use 12.13.0 && npm rebuild node-sass"
alias c="cd ~/code"
alias lg="lazygit"
alias gitbranch="git branch -a | fzf-tmux -d 15 --preview=''"
alias comp="cd ~/code/components/"
alias components="cd ~/code/components/"

alias vim="nvim"
alias vi="vi"

#eza aliases
alias ls="eza --grid --icons=always --color=always --git"

  # Set Spaceship ZSH as a prompt
#   autoload -U promptinit; promptinit
#   prompt spaceship

export PATH="/usr/local/opt/mongodb@3.4/bin:$PATH"

export ANT_HOME=/usr/local/Cellar/ant/1.10.5/libexec
export JAVA_HOME=/Library/Java/JavaVirtualMachines/openjdk-11.0.2.jdk/Contents/Home
#fzf exports
export FZF_DEFAULT_COMMAND='rg --files --follow --hidden'
export FZF_DEFAULT_OPTS='--height=40%'
export FZF_CTRL_T_COMMAND='rg --files --hidden'
export FZF_CTRL_T_OPTS='--height=40% --preview="bat --color=always --line-range=:40 {}" --preview-window=right:60%:wrap'

## for computer setup
alias brewinstallall="brew install bat chezmoi eza fzf gcc gnu-sed mkcert neovim python3 tree-sitter zoxide nvm openssh vscode-langservers-extracted zsh-syntax-highlighting lazygit ripgrep tmux gh docker-compose tlrc"

installall() {
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  brewinstallall
}

pullindev () {
 git checkout develop
 git fetch
 git pull
 git checkout -
 git merge develop
}

pullinstaging () {
 git checkout staging
 git fetch
 git pull
 git checkout - 
 git merge staging
}

pullinmaster() {
 git checkout master
 git fetch
 git pull
 git checkout - 
 git merge master
}

gitreset() {
 git add .
 git reset HEAD --hard
}

function https-server() {
  http-server --ssl --cert ~/.localhost-ssl/localhost.crt --key ~/.localhost-ssl/localhost.key
}

ql() {
  qlmanage -p "$1" &>/dev/null
}



# source /Users/lsorensen/.gulp.plugin.zsh/gulp.plugin.zsh

export TASTE_API_KEY=350010-virus89-845F156D

## NVM ##
 export NVM_DIR="$HOME/.nvm"
    [ -s "$HOMEBREW_PREFIX/opt/nvm/nvm.sh" ] && \. "$HOMEBREW_PREFIX/opt/nvm/nvm.sh" # This loads nvm
    [ -s "$HOMEBREW_PREFIX/opt/nvm/etc/bash_completion.d/nvm" ] && \. "$HOMEBREW_PREFIX/opt/nvm/etc/bash_completion.d/nvm" # This loads nvm bash_completion
## NVM ##

## add node to path ##
export NODE_PATH=`which node`
export PATH="/usr/local/sbin:$PATH"


[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh
[ -f ~/.fzf/.config/fzf-git.sh ] && source ~/.fzf/.config/fzf-git.sh

unalias gm

vb() {
  npm --no-git-tag-version version patch
  npm i
  commit "version bump"
}

# zoxide
eval "$(zoxide init zsh)"

# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ ! -f ~/.p10k.zsh ]] || source ~/.p10k.zsh

